*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    color: #222831;
    background-color: #222831;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    line-height: initial;
}

.page {
    margin: 20px;
    background-color: #fff;
    $page: ".page";

    @include breakpoint(md) {
        margin: 30px;
    }
}

.container {
    width: calc(100% - 50px);
    margin: 0 auto;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);

    @include breakpoint(md) {
        max-width: 90%;
        width: 100%;
    }

    @include breakpoint(xl) {
        max-width: rem-calc(1240);
    }
}

.main {
    flex: 1;
}

.is-visually-hidden {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.link {
    $link: ".link";

    &#{$link} {
        &--external {
            color: #00adb5;
            text-decoration: none;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                -o-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                width: 0;
                height: 2px;
                background-color: #00adb5;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

//
// Scrollbar
//

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 30px;

    &:hover {
        background: #999;
    }
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0px;
}
