*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    color: var(--color-primary);
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    line-height: initial;
}

.page {
    margin: rem-calc(20);
    background-color: var(--color-white);
    $page: ".page";

    @include breakpoint(md) {
        margin: rem-calc(30);
    }
}

.container {
    width: calc(100% - 50px);
    margin: 0 auto;
    -webkit-transition: map-get($transitions, 'cubic-bezier');
    -o-transition: map-get($transitions, 'cubic-bezier');
    transition: map-get($transitions, 'cubic-bezier');

    @include breakpoint(xl) {
        max-width: rem-calc(1240);
        width: 100%;
    }
}

.main {
    flex: 1;
}

.is-visually-hidden {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.link {
    $link: ".link";

    &#{$link} {
        &--external {
            color: var(--color-secondary);
            text-decoration: none;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                -webkit-transition: map-get($transitions, 'cubic-bezier');
                -o-transition: map-get($transitions, 'cubic-bezier');
                transition: map-get($transitions, 'cubic-bezier');
                width: 0;
                height: 2px;
                background-color: var(--color-secondary);
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

//
// Scrollbar
//

::-webkit-scrollbar {
    width: rem-calc(10);
    height: rem-calc(10);
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 30px;

    &:hover {
        background: #999;
    }
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0px;
}
