@import "./../../styles/essentials";

.navigation {
    $navigation: ".navigation";

    @include breakpoint(md down) {
        position: fixed;
        left: -45px;
        right: -45px;
        top: -35px;
        height: 100vh;
        background-color: rgba(34, 40, 49, 0.995);
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: map-get($transitions, "cubic-bezier");
        -o-transition: map-get($transitions, "cubic-bezier");
        transition: map-get($transitions, "cubic-bezier");
        overflow: hidden;
        opacity: 0;
    }

    &#{$navigation} {
        &--show {
            @include breakpoint(md down) {
                opacity: 1;
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }

    #{$navigation} {
        &__close {
            @include breakpoint(md down) {
                position: absolute;
                top: 40px;
                right: 40px;
                z-index: 1;
                color: var(--color-white);
                cursor: pointer;
            }

            @include breakpoint(md) {
                display: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: center;
            }
        }

        &__item {
            flex: 1 1 auto;

            @include breakpoint(md) {
                text-align: center;
            }

            &:not(:nth-last-of-type(1)) {
                margin-bottom: rem-calc(30);

                @include breakpoint(md) {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            color: var(--color-white);
            text-decoration: none;
            font-size: rem-calc(20);
            position: relative;

            &:hover {
                color: var(--color-secondary);

                &::before {
                    width: 100%;
                }
            }

            &::before {
                content: "";
                height: 2px;
                background-color: var(--color-secondary);
                width: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                -webkit-transition: map-get($transitions, "cubic-bezier");
                -o-transition: map-get($transitions, "cubic-bezier");
                transition: map-get($transitions, "cubic-bezier");
            }

            @include breakpoint(md) {
                display: block;
                padding: rem-calc(5) 0;
                margin: 0 rem-calc(25);
                font-size: rem-calc(14);
                color: var(--color-primary);

                &:hover {
                    color: var(--color-primary);
                }

                &::before {
                    background-color: var(--color-primary);
                }
            }

            @include breakpoint(lg) {
                font-size: rem-calc(16);
            }
        }

        &__button {
            color: var(--color-white);
            text-decoration: none;
            font-size: rem-calc(20);
            position: relative;

            @include breakpoint(md down) {
                &:hover {
                    color: var(--color-secondary);

                    &::before {
                        width: 100%;
                    }
                }
            }

            @include breakpoint(md down) {
                &::before {
                    content: "";
                    height: 2px;
                    background-color: var(--color-secondary);
                    width: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    -webkit-transition: map-get($transitions, "cubic-bezier");
                    -o-transition: map-get($transitions, "cubic-bezier");
                    transition: map-get($transitions, "cubic-bezier");
                }
            }

            @include breakpoint(md) {
                display: block;
                padding: rem-calc(10) rem-calc(25);
                margin-left: rem-calc(25);
                border: 1px solid var(--color-primary);
                border-radius: 100px;
                overflow: hidden;
                font-size: rem-calc(14);

                &:hover {
                    color: var(--color-primary);

                    &::before {
                        opacity: 0;
                        -webkit-transform: scale(1.02);
                        -ms-transform: scale(1.02);
                        transform: scale(1.02);
                    }
                }

                &::before {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 100px;
                    background-color: var(--color-primary);
                    -webkit-transform: scale(1.02);
                    -ms-transform: scale(1.02);
                    transform: scale(1.02);
                    opacity: 1;
                    -webkit-transition: map-get($transitions, "cubic-bezier");
                    -o-transition: map-get($transitions, "cubic-bezier");
                    transition: map-get($transitions, "cubic-bezier");
                }
            }

            @include breakpoint(lg) {
                font-size: rem-calc(16);
            }
        }
    }
}
