@import "./../../styles/essentials";

.header {
    display: block;
    padding: rem-calc(15) 0;
    z-index: 1;
    $header: ".header";

    @include breakpoint(md) {
        padding: rem-calc(20) 0;
    }

    @include breakpoint(lg) {
        padding: rem-calc(30);
    }

    &#{$header} {
        &--fixed {
            position: fixed;
            top: 0;
            left: rem-calc(20);
            right: rem-calc(20);
            border-top: 20px solid var(--color-primary);
            background-color: var(--color-white);
            z-index: 10;

            @include breakpoint(md) {
                left: rem-calc(30);
                right: rem-calc(30);
                border-top: 30px solid var(--color-primary);
            }

            + .hero {
                margin-top: 0;

                @include breakpoint(lg) {
                    margin-top: rem-calc(30);
                }
            }
        }
    }

    #{$header} {
        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            height: rem-calc(50);
            width: rem-calc(50);
            flex: 0 0 rem-calc(50);
            position: relative;

            @include breakpoint(lg) {
                height: rem-calc(60);
                width: rem-calc(60);
                flex-basis: rem-calc(60);
            }

            &:hover {
                #{$header}__box {
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: var(--color-primary);
            text-decoration: none;
        }

        &__text {
            font-size: rem-calc(14);
            font-weight: bold;
            position: relative;
            z-index: -2;

            @include breakpoint(lg) {
                font-size: rem-calc(16);
            }
        }

        &__box {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 3px solid var(--color-primary);
            -webkit-transition: map-get($transitions, "cubic-bezier");
            -o-transition: map-get($transitions, "cubic-bezier");
            transition: map-get($transitions, "cubic-bezier");
            z-index: -1;
        }

        &__navigation {
            flex: 0 0 auto;

            @include breakpoint(md) {
                position: relative;
            }
        }

        &__hamburger {
            display: block;
            cursor: pointer;

            @include breakpoint(md) {
                display: none;
            }
        }
    }
}
