@import "../styles/essentials";

.experience {
    $experience: ".experience";

    #{$experience} {
        &__timeline {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::before {
                content: "";
                width: 2px;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 52px;
                bottom: 52px;
                background: map-get($colors, "primary");
            }
        }
    }
}
