@import "../styles/essentials";

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: rem-calc(40);
    -webkit-transition: map-get($transitions, "cubic-bezier");
    -o-transition: map-get($transitions, "cubic-bezier");
    transition: map-get($transitions, "cubic-bezier");
    $project: ".project";

    @include breakpoint(md) {
        flex-direction: row;
        margin-bottom: rem-calc(125);
    }

    @include breakpoint(lg) {
        align-items: flex-start;
        flex: 0 0 50%;
        margin-bottom: rem-calc(200);
    }

    &:nth-of-type(even) {
        @include breakpoint(md) {
            flex-direction: row-reverse;
        }

        #{$project} {
            &__right {
                @include breakpoint(md) {
                    -webkit-transform: translate(50px, 50px);
                    -ms-transform: translate(50px, 50px);
                    transform: translate(50px, 50px);
                }

                @include breakpoint(lg) {
                    -webkit-transform: translate(50px, 75px);
                    -ms-transform: translate(50px, 75px);
                    transform: translate(50px, 75px);
                }
            }

            &__label {
                @include breakpoint(md) {
                    left: unset;
                    right: 0;
                }
            }
        }
    }

    #{$project} {
        &__left {
            display: flex;
            flex: 0;

            @include breakpoint(md) {
                flex-basis: rem-calc(500);
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            background: map-get($colors, "grey");
            padding: rem-calc(10) rem-calc(25);
            max-width: rem-calc(500);
            width: 100%;

            @include breakpoint(sm) {
                padding: rem-calc(15) rem-calc(25);
            }

            @include breakpoint(md) {
                padding: rem-calc(15);
                flex-basis: rem-calc(500);
                height: rem-calc(175);
                -webkit-transform: translate(-50px, 50px);
                -ms-transform: translate(-50px, 50px);
                transform: translate(-50px, 50px);
                max-width: unset;
            }

            @include breakpoint(lg) {
                padding: rem-calc(25) rem-calc(40);
                height: rem-calc(250);
                -webkit-transform: translate(-50px, 75px);
                -ms-transform: translate(-50px, 75px);
                transform: translate(-50px, 75px);
            }
        }

        &__title {
            font-size: rem-calc(16);
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: rem-calc(15);
            -webkit-transition: map-get($transitions, "cubic-bezier");
            -o-transition: map-get($transitions, "cubic-bezier");
            transition: map-get($transitions, "cubic-bezier");

            @include breakpoint(lg) {
                font-size: rem-calc(18);
                margin-bottom: rem-calc(25);
            }

            @include breakpoint(xl) {
                font-size: rem-calc(20);
            }
        }

        &__imageHolder {
            position: relative;
            max-width: rem-calc(500);
        }

        &__image {
            display: block;
            max-width: 100%;
            height: auto;
        }

        &__label {
            text-transform: lowercase;
            position: absolute;
            top: 0;
            left: 0;
            font-size: rem-calc(12);
            background-color: map-get($colors, "primary");
            color: map-get($colors, "white");
            padding: rem-calc(8) rem-calc(25);
            cursor: default;

            @include breakpoint(lg) {
                font-size: rem-calc(14);
            }
        }

        &__stackList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: rem-calc(15);

            @include breakpoint(lg) {
                margin-bottom: rem-calc(25);
            }
        }

        &__stackItem {
            display: inline-block;
            border: 1px solid map-get($colors, "primary");
            padding: rem-calc(3) rem-calc(10);
            margin-right: rem-calc(5);
            margin-bottom: rem-calc(5);
            font-size: rem-calc(11);
            position: relative;
            -webkit-transition: map-get($transitions, "cubic-bezier");
            -o-transition: map-get($transitions, "cubic-bezier");
            transition: map-get($transitions, "cubic-bezier");
            cursor: default;

            @include breakpoint(lg) {
                font-size: rem-calc(12);
                margin-right: rem-calc(10);
                margin-bottom: rem-calc(10);
            }

            @include breakpoint(xl) {
                font-size: rem-calc(14);
            }

            &:nth-last-of-type(1) {
                margin-right: 0;
            }

            &::after {
                content: "";
                background-color: map-get($colors, "primary");
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
                -webkit-transition: map-get($transitions, "cubic-bezier");
                -o-transition: map-get($transitions, "cubic-bezier");
                transition: map-get($transitions, "cubic-bezier");
                z-index: 1;
            }

            &:hover {
                color: map-get($colors, "white");

                &::after {
                    width: 100%;
                }
            }
        }

        &__stackText {
            position: relative;
            z-index: 2;
        }

        &__links {
            display: inline-flex;
            flex: 1;
            align-items: flex-end;
        }

        &__link {
            color: map-get($colors, "secondary");
            font-size: rem-calc(18);
            position: relative;

            @include breakpoint(md) {
                font-size: rem-calc(20);
            }

            @include breakpoint(lg) {
                font-size: rem-calc(24);
            }

            &:not(:nth-last-of-type(1)) {
                margin-right: rem-calc(10);
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                background-color: map-get($colors, "secondary");
                height: 2px;
                -webkit-transition: map-get($transitions, "cubic-bezier");
                -o-transition: map-get($transitions, "cubic-bezier");
                transition: map-get($transitions, "cubic-bezier");
            }
        }
    }
}
