@import "../styles/essentials";

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    $project: ".project";

    @include breakpoint(md) {
        flex-direction: row;
        margin-bottom: 100px;
    }

    @include breakpoint(lg) {
        align-items: flex-start;
        flex: 0 0 50%;
        margin-bottom: 150px;
    }

    &:nth-of-type(even) {
        @include breakpoint(md) {
            flex-direction: row-reverse;
        }

        #{$project} {
            &__right {
                @include breakpoint(md) {
                    -webkit-transform: translateX(50px);
                    -ms-transform: translateX(50px);
                    transform: translateX(50px);
                }

                @include breakpoint(lg) {
                    -webkit-transform: translate(50px, 75px);
                    -ms-transform: translate(50px, 75px);
                    transform: translate(50px, 75px);
                }
            }

            &__label {
                @include breakpoint(md) {
                    left: unset;
                    right: 0;
                }
            }
        }
    }

    #{$project} {
        &__left {
            display: flex;
            flex: 0;

            @include breakpoint(md) {
                flex-basis: 500px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            background: #eeeeee;
            padding: 10px 25px;
            max-width: 500px;
            width: 100%;

            @include breakpoint(md) {
                padding: 15px 25px;
                flex-basis: 400px;
                height: 200px;
                -webkit-transform: translateX(-50px);
                -ms-transform: translateX(-50px);
                transform: translateX(-50px);
                max-width: unset;
            }

            @include breakpoint(lg) {
                padding: 25px 40px;
                flex-basis: 400px;
                height: 250px;
                -webkit-transform: translate(-50px, 75px);
                -ms-transform: translate(-50px, 75px);
                transform: translate(-50px, 75px);
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 600;
            text-transform: lowercase;
            margin-bottom: 15px;

            @include breakpoint(md) {
                font-size: 18px;
            }

            @include breakpoint(lg) {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }

        &__imageHolder {
            position: relative;
        }

        &__image {
            display: block;
            max-width: 100%;
            height: auto;
        }

        &__label {
            text-transform: lowercase;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 12px;
            background-color: #222831;
            color: #fff;
            padding: 8px 25px;
            cursor: default;

            @include breakpoint(lg) {
                font-size: 14px;
            }
        }

        &__stackList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__stackItem {
            display: inline-block;
            border: 1px solid #222831;
            padding: 3px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 11px;
            position: relative;
            -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
            -o-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
            transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
            cursor: default;

            @include breakpoint(sm) {
                font-size: 12px;
            }

            @include breakpoint(lg) {
                font-size: 14px;
            }

            &:nth-last-of-type(1) {
                margin-right: 0;
            }

            &::after {
                content: "";
                background-color: #222831;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
                -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                -o-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                z-index: 1;
            }

            &:hover {
                color: #fff;

                &::after {
                    width: 100%;
                }
            }
        }

        &__stackText {
            position: relative;
            z-index: 2;
        }

        &__links {
            display: inline-flex;
            margin-bottom: 15px;

            @include breakpoint(lg) {
                margin-bottom: 25px;
            }
        }

        &__link {
            color: #00adb5;
            font-size: 18px;
            position: relative;

            @include breakpoint(md) {
                font-size: 20px;
            }

            @include breakpoint(lg) {
                font-size: 24px;
            }

            &:not(:nth-last-of-type(1)) {
                margin-right: 10px;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                background-color: #00adb5;
                height: 2px;
                -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                -o-transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
                transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
            }
        }
    }
}
