@import "../styles/essentials";

.section {
    padding: 50px 0;
    position: relative;
    $section: ".section";

    @include breakpoint(lg) {
        padding: 100px 25px;
    }

    #{$section} {
        &__title {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            margin-bottom: 40px;

            @include breakpoint(sm) {
                font-size: 26px;
            }

            @include breakpoint(lg) {
                font-size: 30px;
            }

            &::before {
                content: "";
                background-color: #00adb5;
                height: 3px;
                position: absolute;
                top: -10px;
                left: 0;
                z-index: 0;
                width: 50%;
            }
        }

        &__columns {
            display: flex;
            flex-direction: column-reverse;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: flex-start;
            }
        }

        &__column {
            flex: 1;

            &#{$section}__column {
                &--2\/5 {
                    flex-basis: 40%;
                }

                &--3\/5 {
                    flex-basis: 60%;
                    margin-top: 40px;

                    @include breakpoint(md) {
                        margin-top: 0;
                        margin-right: 50px;
                    }

                    @include breakpoint(lg) {
                        margin-top: 0;
                        margin-right: 100px;
                    }
                }
            }
        }

        &__richText {
            display: block;
            width: 100%;

            p {
                font-size: 14px;

                @include breakpoint(sm) {
                    font-size: 16px;
                }

                @include breakpoint(lg) {
                    font-size: 18px;
                }

                &:not(:nth-last-of-type(1)) {
                    margin-bottom: 15px;
                }
            }
        }

        &__image {
            display: block;
            max-width: 100%;
            max-height: 250px;
            object-fit: contain;

            @include breakpoint(md) {
                max-height: 100%;
            }
        }

        &__projects {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}
