@import "../styles/essentials";

.section {
    padding: rem-calc(50) 0;
    position: relative;
    $section: ".section";

    @include breakpoint(lg) {
        padding: rem-calc(100) rem-calc(25);
    }

    #{$section} {
        &__title {
            display: inline-block;
            font-size: rem-calc(20);
            font-weight: bold;
            position: relative;
            margin-bottom: rem-calc(40);

            @include breakpoint(sm) {
                font-size: rem-calc(26);
            }

            @include breakpoint(lg) {
                font-size: rem-calc(30);
            }

            &::before {
                content: "";
                background-color: map-get($colors, "secondary");
                height: 3px;
                position: absolute;
                top: -10px;
                left: 0;
                z-index: 0;
                width: 50%;
            }
        }

        &__columns {
            display: flex;
            flex-direction: column-reverse;

            @include breakpoint(md) {
                flex-direction: row;
                align-items: flex-start;
            }
        }

        &__column {
            flex: 1;

            &#{$section}__column {
                &--2\/5 {
                    flex-basis: 40%;
                }

                &--3\/5 {
                    flex-basis: 60%;
                    margin-top: rem-calc(40);

                    @include breakpoint(md) {
                        margin-top: 0;
                        margin-right: rem-calc(50);
                    }

                    @include breakpoint(lg) {
                        margin-right: rem-calc(100);
                    }
                }
            }
        }

        &__richText {
            display: block;
            width: 100%;

            p {
                font-size: rem-calc(14);

                @include breakpoint(sm) {
                    font-size: rem-calc(16);
                }

                @include breakpoint(xl) {
                    font-size: rem-calc(18);
                }

                &:not(:nth-last-of-type(1)) {
                    margin-bottom: rem-calc(15);
                }
            }
        }

        &__image {
            display: block;
            max-width: 100%;
            max-height: rem-calc(250);
            object-fit: contain;

            @include breakpoint(md) {
                max-height: 100%;
            }
        }

        &__projects {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}
