@import "./../../styles/essentials";

.footer {
    background-color: var(--color-grey);
    padding: rem-calc(50) 0;
    position: relative;
    $footer: ".footer";

    @include breakpoint(lg) {
        padding: rem-calc(150) rem-calc(25);
    }

    #{$footer} {
        &__top {
            display: block;
            margin-bottom: rem-calc(40);

            @include breakpoint(lg) {
                margin-bottom: rem-calc(60);
            }
        }

        &__title {
            display: inline-block;
            font-size: rem-calc(20);
            font-weight: bold;
            position: relative;
            margin-bottom: rem-calc(40);

            @include breakpoint(lg) {
                font-size: rem-calc(30);
            }

            &::before {
                content: "";
                background-color: var(--color-secondary);
                height: 3px;
                position: absolute;
                top: -10px;
                left: 0;
                z-index: 0;
                width: 50%;
            }
        }

        &__text {
            display: block;
            font-size: rem-calc(16);

            @include breakpoint(lg) {
                font-size: rem-calc(18);
            }

            p {
                &:not(:nth-last-of-type(1)) {
                    margin-bottom: rem-calc(15);
                }
            }
        }

        &__socials {
            display: inline-flex;
        }

        &__link {
            color: var(--color-secondary);
            font-size: rem-calc(24);
            position: relative;

            @include breakpoint(lg) {
                font-size: rem-calc(30);
            }

            &:not(:nth-last-of-type(1)) {
                margin-right: rem-calc(13);
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                background-color: var(--color-secondary);
                height: 2px;
                -webkit-transition: map-get($transitions, 'cubic-bezier');
                -o-transition: map-get($transitions, 'cubic-bezier');
                transition: map-get($transitions, 'cubic-bezier');
            }
        }
    }
}
